<div class="container">
  

  <form class="mat-dialog-content"  #formControl="ngForm">

    <!-- <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.Id" name="Id" [required]="true" >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div> -->

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #SheetNameinput class="form-control" placeholder="SheetName" [(ngModel)]="data.sheetName" name="sheetName" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #Notesinput class="form-control" placeholder="Notes" [(ngModel)]="data.sheetNotes" name="sheetNotes"  required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #Dateinput class="form-control" placeholder="sheetDate" [(ngModel)]="data.sheetDate" name="sheetDate" required disabled>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>      
      </mat-form-field>
    </div>

    <div class="form">
          <mat-checkbox matInput #OngoingInput [(ngModel)]="data.active" name="OngoingInput"> active </mat-checkbox>
    </div>

    

    

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="!formControl.valid" (click)="stopEdit(data)">Save</button>
      <button mat-raised-button color="primary" (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
