<mat-sidenav-content>
  <div class="TableContain  mat-elevation-z8" #tableContain>
  
    <mat-input-container floatPlaceholder="never">
      <input matInput #filter placeholder="Filter data" color="accent">
    </mat-input-container>  



    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>


    <mat-table #table [dataSource]="dataSource" class="mat-cell" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="Id" [style.display]="'none'">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement"> {{ViewSheetsElement.Id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="sheetName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> sheetName </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement"> {{ViewSheetsElement.sheetName}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="sheetDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement"> {{ViewSheetsElement.sheetDate | date: 'EE, MMM dd y' }} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="sheetNotes">
        <mat-header-cell *matHeaderCellDef mat-sort-header> sheetNotes </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement"> {{ViewSheetsElement.sheetNotes}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="updated">
        <mat-header-cell *matHeaderCellDef mat-sort-header> updated </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement"> {{ViewSheetsElement.updated | date: 'EE, MMM dd y'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="updatedBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> updatedBy </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement"> {{ViewSheetsElement.updatedBy}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef mat-sort-header> created </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement"> {{ViewSheetsElement.created | date: 'EE, MMM dd y'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> createdBy </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement"> {{ViewSheetsElement.createdBy}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="Ongoing">
            <mat-header-cell *matHeaderCellDef> Ongoing </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Ongoing}} </mat-cell>
          </ng-container> -->
      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef> active
        </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement">
          <mat-checkbox [(ngModel)]="ViewSheetsElement.active">

          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Buttons">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement">
          <button color="primary" mat-icon-button (click)="SheetEdit(ViewSheetsElement.sheetId)">
            <!-- </button> (click)="saveUpdateTodo(ViewSheetsElement)">   -->
            <!-- Handsonform, tableContain -->
            <mat-icon>edit</mat-icon>
          </button>
          <button color="accent" mat-icon-button (click)="removeToDo(ViewSheetsElement)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="viewOnlySheets">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement">
          <button color="primary" mat-button (click)="sheetView(ViewSheetsElement.sheetId)">
            <!-- </button> (click)="saveUpdateTodo(ViewSheetsElement)">   -->
            <!-- Handsonform, tableContain -->
            View Sheet
          </button>

        </mat-cell>
      </ng-container>
    


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="example-no-results" [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'">
      No users found matching filter.
    </div>

    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="15" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</mat-sidenav-content>

