.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .TableContain{
      margin-top: 30px;
  }
  .mat-form-field{
    display: block;
  }

  .PageContainer{
    display:none;
margin-top: 30px;
  }
  .example-no-results {
    display: flex;
    justify-content: center;
    padding: 24px;
    font-size: 12px;
    font-style: italic;
  }