<!-- <div class="container">
    <div class="col-md-12">
      <h1>My To-Dos</h1>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">To-Do</th>
            <th class="text-center">Due</th>       
            <th class="text-center">Notes</th>       
            <th class="text-center">Done</th>       
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of todos">       
            <td>{{ todo.name }}</td>
            <td>{{ todo.due | date: 'EE, MMM dd' }}</td>       
            <td>{{ todo.notes }}</td>
            <td class="text-center">
              <input type="checkbox" [checked]="todo.done" [disabled]="true">
            </td>
            <td class="text-center">
              <button class="btn btn-info" (click)="showEditForm(todo)">
                <i class="glyphicon glyphicon-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="removeToDo(todo)">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </td>       
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success" (click)="showNewForm()">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
      <form *ngIf="showForm()" [formGroup]="formGroup" (ngSubmit)="saveTodo(formGroup.value)">
        <h2>{{headerText}}</h2>
        <p>To-Do <input type="text" name="name" formControlName="name" /></p>
        <p>Due <input type="date" name="due" formControlName="due"/></p>
        <p>Done <input type="checkbox" name="done" formControlName="done" /></p>    
        <p>Notes <input type="text" name="notes" formControlName="notes" /></p>
        <p>
          <input type="submit" class="btn btn-primary" value="Save">
          <input type="button" class="btn btn-warning" value="Cancel" (click)="cancelEditTodo()">
        </p>
      </form>
    </div>
   </div> -->



<div class="TableContain  mat-elevation-z8"  #tableContain>
  <!-- <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
          <input matInput #filter placeholder="Filter data">
        </mat-form-field>
      </div> -->

  <!-- <div class="example-header" [style.display]="selection.isEmpty() ? '' : 'none'"> -->
    <mat-input-container floatPlaceholder="never">
      <input matInput #filter placeholder="Filter data" color="accent">
    </mat-input-container>
  <!-- </div>
  <div class="example-header example-selection-header" *ngIf="!selection.isEmpty()">
    {{selection.selected.length}} {{selection.selected.length == 1 ? 'user' : 'users'}} selected
  </div> -->
  






    <mat-table #table [dataSource]="dataSource"class="mat-cell"  matSort>

      <!-- Position Column -->
      <!-- <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement"> {{ViewSheetsElement.Id}} </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="SheetName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> SheetName </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement"> {{ViewSheetsElement.SheetName}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement"> {{ViewSheetsElement.Date | date: 'EE, MMM dd y' }} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Notes">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Notes </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement"> {{ViewSheetsElement.Notes}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> createdBy </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement"> {{ViewSheetsElement.createdBy}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="LastupdatedBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> LastupdatedBy </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement"> {{ViewSheetsElement.LastupdatedBy}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="LastUpdateDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> LastUpdateDate </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement"> {{ViewSheetsElement.LastUpdateDate}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="Ongoing">
            <mat-header-cell *matHeaderCellDef> Ongoing </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Ongoing}} </mat-cell>
          </ng-container> -->
      <ng-container matColumnDef="Ongoing">
        <mat-header-cell *matHeaderCellDef> Ongoing
        </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement">
          <mat-checkbox [(ngModel)]="ViewSheetsElement.Ongoing">

          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Buttons">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let ViewSheetsElement">
          <button color="primary" mat-icon-button (click)="saveUpdateTodo(ViewSheetsElement)">  
            <!-- Handsonform, tableContain -->
            <mat-icon>edit</mat-icon>
          </button>
          <button color="accent" mat-icon-button (click)="removeToDo(ViewSheetsElement)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="example-no-results" [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'">
      No users found matching filter.
    </div>
    
    <mat-paginator #paginator 
    [length]="dataSource.filteredData.length"
    [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>


<!-- <div class="container PageContainer" #Handsonform>
  <div id="example"></div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Edit record in Main sheet</mat-card-title>
      <mat-card-subtitle>Hit the Submit button to add record or press cancel to return back</mat-card-subtitle>
    </mat-card-header>
    <div class="example-container">
      <form class="mat-dialog-content" [formGroup]="formGroup" #formControl="ngForm">
        <div class="form">
          <mat-form-field>
            <input matInput class="form-control" formControlName="SheetName" #SheetInput name="SheetTitle" [(ngModel)]="SheetName" placeholder="SheetName"
              [required]="true">
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form">
          <mat-form-field>
            <input matInput class="form-control" formControlName="Date" #DateInput name="Date" placeholder="Date" [(ngModel)]="Date"
              value="{{Date}}" [required]="true">
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form">
          <mat-form-field>
            <textarea matInput class="form-control" formControlName="Notes" #NotesInput name="Notes" placeholder="Notes" [(ngModel)]="Notes"
              [required]="true"></textarea>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form">
          <mat-checkbox matInput #OngoingInput name="Ongoing" formControlName="Ongoing"> Ongoing
          </mat-checkbox>

        </div>



        <mat-card-actions>
    
          <button mat-raised-button [disabled]="!formControl.valid" style="float:right" color="primary">Submit</button>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>
 -->


  <!-- <hot-table [settings]="settingsObj">
          <hot-column *ngFor="let column of columns" >{{column}}</hot-column> 
          </hot-table> -->
<!-- </div> -->