/* .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .TableContain{
      margin-top: 10px;
      margin: 10px;
  }
  .mat-form-field{
    display: block;
  }

  .PageContainer{
    display:none;
margin-top: 30px;
  }
  .example-no-results {
    display: flex;
    justify-content: center;
    padding: 24px;
    font-size: 12px;
    font-style: italic;
  } */

  .TableContain {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  /* Toolbar */
  .spacer {
    flex: 1 1 auto;
  }
  
  /* Filter */
  .form {
    min-height: 56px;
    max-height: 56px;
    display: flex;
    align-items: center;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
  }
  
  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-top: 8px;
    width: 100%;
  }
  
  /* Mat table */
  .example-no-results {
    display: flex;
    justify-content: center;
    padding: 24px;
    font-size: 12px;
    font-style: italic;
  } 
  
  
  
  