<!-- <hot-table stretchH="all" 
  [columns]="columns"
  [data]="dataset"
  [autoRowSize]="true"
  [rowHeaders]="true"
  [colHeaders]="true"
  (afterChange)="onAfterChange($event)">
  </hot-table> -->
        
  

<div class=""  >
            <hot-table [colHeaders]="true" className="htCenter" (afterChange)="onAfterChange($event)"  #hotTable [allowEmpty]=true [manualRowMove]="true" [height]="500" [manualColumnMove]="true"
              [rowHeaders]="true" [data]="dataset" [autoWrapRow]="true" [autoWrapCol]="true" [manualRowResize]="true" [manualColumnResize]="true"
              [manualColumnFreeze]="true" stretchH="all" [columnSorting]="true">
              <hot-column data="rowId" title="rowId"  [readOnly]="true" [colWidths]="80" type="numeric"></hot-column>
              <hot-column data="inventory" title="Inventory"[renderer]="render" [colWidths]="80" type="numeric"></hot-column>
              <hot-column data="title" title="Title" [colWidths]="300" type="text"></hot-column>
              <hot-column data="listingPrice" [colWidths]="120" title="Listing Price" [numericFormat]="{pattern: '$0,0.00', culture: 'en-US' }"
                type="numeric"></hot-column>
              <hot-column data="supplierName" [colWidths]="80" title="Supplier Name" type="text"></hot-column>
              <hot-column data="supplierPrice" [colWidths]="80" [numericFormat]="{pattern: '$0,0.00', culture: 'en-US' }" title="Supplier Price"
                type="numeric"></hot-column>
              <hot-column data="listingFee" [colWidths]="80" title="Listing Fee" [numericFormat]="{pattern: '$0,0.00', culture: 'en-US' }"
                type="numeric"></hot-column>
              <hot-column data="tax" [colWidths]="60" title="Taxes" type="numeric"></hot-column>
              <hot-column data="shipping" [colWidths]="80" [numericFormat]="{pattern: '$0,0.00', culture: 'en-US' }" title="Shipping Fee"
                type="numeric"></hot-column>
              <hot-column data="profit" [colWidths]="60" title="Profit" type="numeric"></hot-column>
              <hot-column data="profitMargin" [colWidths]="80" title="Profit Margin" type="numeric"></hot-column>
              <hot-column data="listingUrl" [colWidths]="300" title="Listing Url" type="text"></hot-column>
              <hot-column data="supplierUrl" [colWidths]="200" title="Supplier Url" type="text"></hot-column>
             
            </hot-table>
          </div>
          <h4 [style.display]="dataset[0] == null ? '' : 'none'">
            No Data
          </h4>